<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Hola Mundo 2</title>
        <meta name="description" content="Hola Mundo con Angular JS">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="../node_modules/jquery/dist/jquery.min.js"></script>  
        <script src="../node_modules/angular/angular.min.js"></script>        
        <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>  
       
        <script src="app.js"></script>        


    </head>
    <body ng-app="appModule" ng-controller="AppController as vm"> <!-- vm es el alias -->
        <header>
            <h1>Hola Mundo</h1>
        </header>
        <article>
            <p>
                <label for="name" >Di tu nombre</label>
                <input id="name" type="text" ng-model="vm.sName"></input>
            </p>
            <p>
                <button ng-click="vm.btnBorrar()">Borrar</button>
            </p>
            <p>
                Hola {{vm.sName}}
            </p>
        </article>
        <footer>
            <p>Curso de {{vm.sCurso}}</p>
        </footer>
    </body>
</html>